<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Employee Form</title>
</head>
<body>
<div>
    <h1>You are adding employee</h1>
    <br>

    <!--walidacja  enumow i nie tylko-->
    <!--ogarniecie zeby to moze byla tabelka i zeby to bylo rowne-->
    <form action="#" th:action="@{/boss/addEmployee}" th:object="${employee}" method="post">
        <p>Email: <input type="text" th:field="*{email}"/></p>
        <p>Name: <input type="text" th:field="*{name}"/></p>
        <p>Surname: <input type="text" th:field="*{surname}"/></p>
        <ul>
            <li th:each="position : ${positions}">
                <input type="radio" th:field="*{position}" th:value="${position}">
                <label th:for="${#ids.prev('type')}" th:text="#{${'seedstarter.type.' + position}}">Wireframe</label>
            </li>

        </ul>
        <p>Salary: <input type="number" th:field="*{salary}"/></p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>

</div>
</body>
</html>