<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <div th:replace="bootstrapTemplate.html :: bootstrapMeta"></div>

    <title>Boss index page</title>
</head>
<body>
<div class="container" style="font-size: 20px;">
<!-- Grey with black text this navbar is fragment of many other pages included using thymeleaf-->
<nav class="navbar navbar-expand-sm " role="navigation" th:fragment="navbar">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/boss/index">Start</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="#">Profile</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="/boss/employee/menu">Employees management</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Tasks mangement</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Departments mangement</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Messages</a>
        </li>
    </ul>
</nav>
<div class="jumbotron" style="background-color: inherit;justify-content: space-between">
    <h1 class="display-5">Hello, Boss!</h1> <!--later there can be his name and surname-->
    <p class="lead">Welcome to company management system</p>
    <hr class="my-4">

</div>


</div>
<div th:replace="bootstrapTemplate.html :: bootstrapOptional"></div>
</body>
</html>