<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="bootstrapTemplate.html :: bootstrapMeta"></div>
    <title>All employees</title>
    <script>
        function rowClicked(value) {
            location.href = "/commonOperations/sortBy" + value;
        }
    </script>
</head>
<body>
<div class="container">
    <div class="jumbotron" style="background-color: inherit;justify-content: space-between">
        <h1 class="display-5">Selected users:</h1>
        <hr class="my-4">
        <p> Select option or click the attribute to sort them</p>
    </div>
    <table class="table table-hover" th:object="${employees}">
        <thead>
        <tr>
            <th scope="col" th:if="${!employees.isEmpty()}">#</th>
            <th:block th:each="field : ${fields}">
                <th:block th:object="${requirementWrappers}">
                    <th scope="col" style="cursor: pointer" th:text="${field}"
                        th:onclick="'rowClicked(\''+'?filtered=true&sortBy=' + ${field}+ '&name='+${requirementWrappers.get('name')}+ '&surname='+${requirementWrappers.get('surname')} + '&email='+${requirementWrappers.get('email')}+ '&city='+${requirementWrappers.get('city')}+ '&lowerLimit='+${requirementWrappers.get('lowerLimit')}+'&upperLimit='+${requirementWrappers.get('upperLimit')} + '&position='+${requirementWrappers.get('position')} + '\');'"></th>
                </th:block>
            </th:block>
        </tr>
        </thead>
        <tbody>
        <th:block>
            <tr th:each="employee,count : ${employees} ">
                <th th:text="${count.index+1}"></th>
                <td th:text="${employee.name}"></td>
                <td th:text="${employee.surname}"></td>
                <td th:text="${employee.email}"></td>
                <td th:text="${employee.city}"></td>
                <td th:text="${employee.salary}"></td>
                <td th:text="${employee.position.name().toLowerCase()}"></td>
                <td th:if="${!employees.isEmpty()}">
                    <div class="btn-group">
                        <button type="button" class="btn btn-info">Options</button>
                        <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item"
                               th:href="@{/commonOperations/updateForm(filtered=false,id=${employee.id})}">Update</a>
                            <a class="dropdown-item"
                               th:href="@{/commonOperations/delete(filtered=false,id=${employee.id})}">Delete</a>
                            <a class="dropdown-item" href="/boss/index">Related tasks</a>
                        </div>
                    </div>
                </td>
            </tr>
        </th:block>
        </tbody>
        <br>
    </table>
    <a href="/homepage" class="btn btn-info" role="button">Return to homepage</a>
    <a href="/commonOperations/searchingCriteria" class="btn btn-info" role="button">Continue searching</a>
</div>
<div th:replace="bootstrapTemplate.html :: bootstrapOptional"></div>
</body>
</html>