<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="bootstrapTemplate.html :: bootstrapMeta"></div>
    <title>Password change page</title>
</head>
<body>
<div class="container">
    <div class="jumbotron" style="background-color: inherit;justify-content: space-between">
        <h1 class="display-4">Change your password below:</h1>
        <hr class="my-4">
    </div>
    <form name="loginForm" th:action="@{/changePassword}" method="post">
        <input type="hidden" name="email" th:value="${email}">
        <div class="form-group col-md-4">
            <label for="passwordA">Choose new password:</label>
            <input name="passwordA" type="password" class="form-control" id="passwordA">
        </div>
        <div class="form-group col-md-4">
            <label for="passwordB">Enter password again:</label>
            <input name="passwordB" type="password" class="form-control" id="passwordB">
        </div>
        <div class="btn-group" role="group">
            <button type="submit" class="btn btn-primary">Change password</button>
            <button type="reset" class="btn btn-secondary">Reset</button>
            <a class="btn btn-info" href="/homepage" role="button">Return to homepage</a>
        </div>
    </form>
</div>
<div th:replace="bootstrapTemplate.html :: bootstrapOptional"></div>
</body>
</html>