<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Add Employee Form</title>
</head>
<body>

<div>
    <h1>Add employee below :</h1>
    <br>
    <div class="container">
        <h2>Fill in the fields</h2>
        <form action="#" th:action="@{boss/employee/addEmployee}" th:object="${employee}" method="post">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" th:field="*{email}" class="form-control" id="email" placeholder="Enter email"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control"  placeholder="Enter password">
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="remember"> Remember me
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>


    <!--<form action="#" th:action="@{/boss/employee/addEmployee}" th:object="${employee}" method="post">
        <p>Email: <input type="text" th:field="*{email}"/></p>
        <p>Name: <input type="text" th:field="*{name}"/></p>
        <p>Surname: <input type="text" th:field="*{surname}"/></p>
        <ul>
            <li th:each="position : ${positions}">
                <input type="radio" th:field="*{position}" th:value="${position}">
                &lt;!&ndash;<label th:for="${#ids.prev('type')}" th:text="#{${'seedstarter.type.' + position}}">Wireframe</label>&ndash;&gt;
            </li>

        </ul>
        <p>Salary: <input type="number" th:field="*{salary}"/></p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>-->

</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>