<!--TODO client validation-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="bootstrapTemplate.html :: bootstrapMeta"></div>
    <title>Add Employee Form</title>
</head>
<body>
<div class="container">
    <br>
    <br>
    <div class="jumbotron" style="background-color: inherit;justify-content: space-between">
        <h1 class="display-4">Welcome to employee adding page! </h1>
        <hr class="my-4">
        <p>Enter data below to add a new employee:</p>
    </div>
    <br>
    <form action="#" th:action="@{/boss/employee/add}" th:object="${employee}" method="post">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" placeholder="Enter name" required th:field="*{name}">
            </div>
            <div class="form-group col-md-6">
                <label for="surname">Surname:</label>
                <input type="text" class="form-control" id="surname" placeholder="Enter surname" required
                       th:field="*{surname}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="email">E-mail:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter e-mail" required
                       th:field="*{email}">
            </div>
            <div class="form-group col-md-6">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password" required
                       th:field="*{password}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="city">City:</label>
                <input type="text" class="form-control" id="city" placeholder="Enter city" required th:field="*{city}">
            </div>
            <div class="form-group col-md-6">
                <label>Position:</label>
                <select class="custom-select mr-sm-2" th:field="*{position}">
                    <option th:each="pos : ${positions}" th:value="${pos}" th:text="${#strings.toLowerCase(pos)}">
                    </option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="salary">Salary:</label>
                <input type="number" class="form-control" id="salary" required th:field="*{salary}">
            </div>
        </div>
        <br>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="submit" class="btn btn-primary">Add</button>
            <button type="reset" class="btn btn-secondary">Reset</button>
            <a href="/boss/employee/menu" class="btn btn-info" role="button">Return</a>
        </div>
    </form>
</div>
<div th:replace="bootstrapTemplate.html :: bootstrapOptional"></div>
</body>
</html>