<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="bootstrapTemplate.html :: bootstrapMeta"></div>
    <title>All employees</title>

</head>
<style>
    .list-group-item {
        display: list-item;
    }
</style>
<body>
<div class="container">
<div class="jumbotron" style="background-color: inherit;justify-content: space-between">
    <p class="lead">Selected employees:</p>
    <hr class="my-4">
</div>


<!--<option th:each="pos : ${positions}" th:value="${pos}" th:text="${pos}">-->
<table class="table table-hover" th:object="${employees}">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col" th:each="field : ${fields}" th:text="${field}"></th>
        <th scope="col" th:if="${!employees.isEmpty()}">Action</th>

    </tr>
    </thead>
    <tbody>
    <th:block  >
        <tr  th:each="employee : ${employees}">
            <!--TODO NUMEROWANIE WIERSZY-->
            <th scope="row"  ></th>
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.surname}"></td>
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.city}"></td>
            <td th:text="${employee.salary}"></td>
            <td th:text="${employee.position.name().toLowerCase()}"></td>
            <td th:if="${!employees.isEmpty()}">
                <button type="button" class="btn btn-info" data-toggle="collapse" th:href="'#collapse' + ${employee.hashCode()}">Action</button>
                <div  th:id="'collapse' + ${employee.hashCode()}" class="collapse">
                    <br>
                    <a th:href="@{/boss/employee/updateForm(id=${employee.id})}" class="btn btn-info" role="button">Update</a>
                    <a th:href="@{/boss/employee/delete(id=${employee.id})}" class="btn btn-info" role="button">Delete</a>
                    <a href="#" class="btn btn-info" role="button">Related tasks</a>
                </div>
            </td>
            <!--TODO TUTAJ OPCJA UPDATE,DELETE,SHOW RELATED TASKS,SORTOWANIA ROZNE-->
        </tr>
    </th:block>


    </tbody>
</table>
    <a href="/boss/index" class="btn btn-info" role="button">Return to homepage</a>
    <a href="/boss/employee/searchingCriteria" class="btn btn-info" role="button">Continue searching</a>
    <a href="#" class="btn btn-info" role="button" th:if="${!employees.isEmpty()}">Sort</a>
</div>


<div th:replace="bootstrapTemplate.html :: bootstrapOptional"></div>
</body>
</html>