<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show all developers page</title>
</head>
<body>
<h1>List of all developers in company</h1>

<table>
    <tr>
        <th>Id</th>
        <th>name</th>
        <th>surname</th>
        <th>e-mail</th>
        <th>salary</th>
        <th>positiom</th>
        <th>departmentId</th>
    </tr>
    <tr th:each="developer : ${developers}">
        <td th:text="${developer.id}">Id</td>
        <td th:text="${developer.name}">name</td>
        <td th:text="${developer.surname}">surname</td>
        <td th:text="${developer.email}">email</td>
        <td th:text="${developer.salary}">salary</td>
        <td th:text="${developer.position}">position</td>
        <td th:if="${developer.department != null }" th:text="${developer.department}">department</td>
        <td th:if="${developer.department == null }">no department</td>

    </tr>
</table>
</body>
</html>